section {
    padding: 64px 64px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    color: #675e54;
    text-align: center;
    background-color: #e9caa5;
}

h1 {
    font-size: 112px;
    color: #9f0908;
    margin-bottom: 32px;
}