section {
    padding: 192px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    font-family: Raleway;
    background-image: url('./../../../assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg');

    >h1 {
        font-size: 112px;
        color: #9f0908;
    }

    >div {
        display: flex;
        gap: 92px;
        align-items: center;
        padding-right: 256px;

        >div {
            display: flex;
            flex-direction: column;
            gap: 16px;

            >div {
                display: flex;
                justify-content: space-between;
                width: 512+32px;
                font-size: 40px;
                font-weight: 700;
                color: #675e54;
            }
        }
    }

}

img {
    width: 512px;
    height: 512px;
}

h3 {
    font-family: Economica;
    font-size: 72px;
    margin-bottom: 16px;
}

.reversed {
    flex-direction: row-reverse;

    >div {
        padding-right: 0;
        padding-left: 512px;
    }
}