<section>
    <h1>HOW TO ORDER</h1>
    <div>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="Noodle">
            <p>Pick your noodle</p>
        </div>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="Broth">
            <p>Pick your broth</p>
        </div>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="Toppings">
            <p>Add your toppings</p>
        </div>
    </div>
</section>